apiVersion: v1
kind: Namespace
metadata:
  name: microsim
  labels:
    name: microsim
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: logging
  labels:
    name: logging
---
apiVersion: v1
kind: Namespace
metadata:
  name: tracing
  labels:
    name: tracing